/* ==Main Page-Size== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==Body Font-Style== */
body{
  font-family: 'Source Sans Pro', sans-serif;
}

/* ==Navbar-Style== */
.bg{
  background: #007cb3;
}
.main-navbar-light{
  background:transparent!important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: 10px;
}
/* ==End Navbar== */

/* ==Image== */
.hero-warp{
  width: 100%;
  height: 850px;
  position: relative;
  background-size: cover;
  background: repeat;
  background-position: top center;
  z-index: 0;
}
.hero-warp .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content:"";
  opacity: .5;
  /* background: lightsteelblue; */
  height: 850px;
}
hero-warp .main-text{
  height: 800px!important;
}
.main-text h1{
font-size: 45px;
color: #fff;
line-height: 1.1;
font-weight: bold;
}
.main-text p{
  line-height: 1.5;
  color: #fff;
}
.btn-hero{
  background-color: #030157!important;
  color: white!important;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew 3s infinite;
  animation-direction: normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding: 5px 17px;
}
@keyframes skew{
  0%{
    transform: skew(20deg);
  }
  100%{
    transform: skewX(-20deg);
  }
}
/* ==End-Image== */